/* -- normalize.css -- */
@import url("./vendor/normalize.css");

/* -- fonts -- */
@import url("./vendor/fonts.css");

/* * {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
} */

#root {
    background-color: #202020;
}